/* userbd */
.userbd .pannel {
    padding: 20px;
    background-color: #fff;
}

.userbd .pannel .pannel_title {
    display: flex;
    justify-content: space-between;
    height: 42px;
    border-bottom: 1px solid #c7c6c6;
}

.pannel .pannel_title h4 {
    font-size: 20px;
    color: #333;
}

.pannel .pannel_title a {
    margin-top: 6px;
    font-size: 16px;
    color: #999;
}

.orders li {
    display: flex;
    height: 137px;
    margin-top: -1px;
    margin-bottom: 20px;
    border: 1px solid #c7c6c6;
}

.orders li .goods {
    display: flex;
    align-items: center;
    padding: 17px 0 14px 12px;
    flex: 1;
    margin-right: 120px;
}

.orders li .goods .pic img {
    width: 107px;
    height: 107px;
    margin-right: 10px;
}

.orders li .goods .txt {
    flex: 1;
    width: 0;
}

.orders li .goods .txt h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.orders li .number {
    width: 120px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.orders li .status {
    width: 160px;
}

.orders li .amount {
    width: 140px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.orders li .amount b {
    margin-right: 2px;
    font-weight: 400;
    color: red;
    font-size: 16px;
}

.orders li .amount span {
    color: red;
    font-size: 19px;
}



.orders li .action {
    flex-direction: column;
    width: 180px;
}

.orders li .action a {
    margin: 2px 0;
    width: 100px;
    height: 30px;
    background-color: #5eb69c;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}

.orders .common {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishlist li {
    display: flex;
    height: 137px;
    margin-top: -1px;
    margin-bottom: 20px;
    border: 1px solid #c7c6c6;
}

.wishlist li .goods {
    display: flex;
    align-items: center;
    padding: 17px 0 14px 12px;
    flex: 1;
    margin-right: 120px;
}

.wishlist li .number {
    width: 120px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.wishlist li .status {
    width: 160px;
}

.wishlist li .amount {
    width: 140px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.wishlist li .action {
    flex-direction: column;
    width: 180px;
}